/* 調整用スタイル */

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}


main {
  background-color: rgb(255, 255, 255);
  height: 800px;
  display: flex;
}

.main {
  margin: auto;
}

/* ヘッダー */

.header {
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 150px;/* ヘッダーmenuの帯幅調整 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}


/* ヘッダーのロゴ部分 */
.header__title {
  width: 100px;
  padding-top:100px;/* Photolifeの高さ調整 */
  padding-bottom: 100px;/* Photolifeの下幅調整 */
}

.header-title a {
  color: rgb(81, 77, 77);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; /* Montserratフォントを適用 */
  font-weight: 300; /* フォントのウェイトを調整（300は細めのウェイト） */
  font-size: 30px;
  }

@media screen and (min-width: 1200px) {
  .header__title {
    width: 120px;
  }
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */

.header__nav {/* ハンバーガーメニューの設定 */
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color:rgb(137, 132, 132);/* ハンバーガーメニューの内側色 */
  transition: ease .4s;
}


@media screen and (min-width: 1200px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 40%;/* PC版submenuの幅設定 */
  }
}

@media screen and (min-width: 1200px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .nav-items {
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);

  }
}

/* ナビ内のフォント調整 */
.nav-items__item a {
  color: rgb(232, 228, 228);
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}


/* ハンバーガーメニュー */

.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #4d4c4cda;/* ハンバーガーメニューの線色 */
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
